{% import "partials/language.html" as lang with context %}
{% set palette = config.theme.palette %}
{% set font = config.theme.font %}

<!doctype html>
<html lang="{{ lang.t('language') }}" class="no-js">
  <head>

    {% block site_meta %}
        <title>The Sincere Path</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta property="og:type" content="website">
        <meta property="og:title" content="The Sincere Path">
        <meta property="og:description" content="{{ config.site_description }}">
        <meta property="og:url" content="{{ page.canonical_url }}">
        <meta property="og:image" content="{{ image }}">
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@cryptowanderer">
        <meta name="twitter:creator" content="@cryptowanderer">
        <meta name="twitter:title" content="The Sincere Path">
        <meta name="twitter:description" content="{{ config.site_description }}">
        <meta name="twitter:image" content="{{ image }}">
    {% endblock %}

    {% block styles %}
      <link rel="stylesheet" href="{{ 'assets/stylesheets/main.25573976.min.css' | url }}">
      <link rel="stylesheet" href="{{ 'assets/stylesheets/mdc-web.css' | url }}">
      {% if palette.primary or palette.accent %}
      <link rel="stylesheet" href="{{ 'assets/stylesheets/palette.4444686e.min.css' | url }}">
      {% endif %}
      {% if palette.primary %}
      {% import "partials/palette.html" as map %}
      {% set primary = map.primary(
          palette.primary | replace(" ", "-") | lower
      ) %}
      <meta name="theme-color" content="#FFD57C">
      {% endif %}
    {% endblock %}

    {% block libs %}{% endblock %}

    {% block fonts %}
        {% if font != false %}
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{
            font.text | replace(' ', '+') + ':300,400,400i,700%7C' +
            font.code | replace(' ', '+')
            }}&display=fallback">
        <style>body,input{font-family:"{{ font.text }}",-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif}code,kbd,pre{font-family:"{{ font.code }}",SFMono-Regular,Consolas,Menlo,monospace}.callout{font-family:Caveat,cursive}</style>
        {% endif %}
    {% endblock %}

    {% for path in config["extra_css"] %}
        <link rel="stylesheet" href="{{ path | url }}">
    {% endfor %}

  </head>
  {% set direction = config.theme.direction or lang.t('direction') %}
  {% if palette.primary or palette.accent %}
    {% set primary = palette.primary | replace(" ", "-") | lower %}
    {% set accent  = palette.accent  | replace(" ", "-") | lower %}
    <body dir="{{ direction }}" data-md-color-primary="{{ primary }}" data-md-color-accent="{{ accent }}">
  {% else %}
    <body dir="{{ direction }}">
  {% endif %}
    <input class="md-toggle" data-md-toggle="drawer" type="checkbox" id="__drawer" autocomplete="off">
    <input class="md-toggle" data-md-toggle="search" type="checkbox" id="__search" autocomplete="off">
    <label class="md-overlay" for="__drawer"></label>
    <div data-md-component="skip">
      {% if page.toc | first is defined %}
        {% set skip = page.toc | first %}
        <a href="{{ skip.url | url }}" class="md-skip">
          {{ lang.t('skip.link.title') }}
        </a>
      {% endif %}
    </div>
    {% block header %}
      {% include "partials/header.html" %}
    {% endblock %}
    <div class="md-container" data-md-component="container">
      {% block tabs %}
        {% if "tabs" in config.theme.features %}
          {% include "partials/tabs.html" %}
        {% endif %}
      {% endblock %}
      <main class="md-main main-body" data-md-component="main">
        <div class="md-main__inner md-grid">
          {% block site_nav %}
            {% if nav %}
              <div class="md-sidebar md-sidebar--primary home-side" data-md-component="navigation">
                <div class="md-sidebar__scrollwrap">
                  <div class="md-sidebar__inner">
                    {% include "partials/nav.html" %}
                  </div>
                </div>
              </div>
            {% endif %}
          {% endblock %}
          
        <div class="main-article">
			<div class="callout callout-home">
				<img src="/assets/images/enso.png" class="main-logo" />
			</div>
		</div>

      </main>

        <div class="extra-container">
            <div class="extra-content" id="who">
                <h1>Sincere Writing</h1>
                <div class="books">
                  <div class="book">
                    <h3>The Blue Book</h3>
                    <img src="/assets/images/blue-book.jpg" class="book-img" />
                    <p>
                      A first-of-its-kind digital book that sets out to prove love. Enjoy the unfolding absurdity.
                    </p>
                    <a class="booked" target="_blank" href="https://thebluebook.co.za">Love</a>
                  </div>
                  <div class="book">
                    <h3>Living</h3>
                    <img src="/assets/images/living.png" class="book-img" />
                    <p>
                      The more I write honest poetry, the more my experience honestly becomes poetic.
                    </p>
                    <a class="booked" target="_blank" href="https://living.thebluebook.co.za">Life</a>
                  </div>
                  <div class="book">
                    <h3>Dyeing</h3>
                    <img src="/assets/images/dyeing.png" class="book-img" />
                    <p>
                      Llive poetically by all means. However, to know your truth inside out, you must put even this down. Just let go.
                    </p>
                    <a class="booked" target="_blank" href="https://dyeing.thebluebook.co.za">Death</a>
                  </div>
                  <div class="book">
                    <h3>Unifying</h3>
                    <img src="/assets/images/unifying.jpg" class="book-img" />
                    <p>
                      The fourth peace of The Blue Book trilogy. Dedicated to those simple souls, for whom the obvious is just obvious.
                    </p>
                    <a class="booked" target="_blank" href="https://unifying.thebluebook.co.za">Truth</a>
                  </div>
                  <div class="book">
                    <h3>Finding</h3>
                    <img src="/assets/images/de_sign.png" class="book-img" />
                    <p>
                      The fifth, final, and infinite part of The Blue Book trilogy, found in <a href="https://libraryofbabel.info/" target="_blank" class="bold-link">The Library of Babel</a>. Each chapter is controlled by a Guardian NFT, cared for by those I love.
                    </p>
                    <a class="booked" target="_blank" href="https://finding.thebluebook.co.za">Endlessly</a>
                  </div>
                  <div class="clear"></div>

                  <h1>Playful Work</h1>
                  <div class="book">
                    <h3>Kernel</h3>
                    <img src="/assets/images/giving.png" class="book-img" />
                    <p>
                      A core of creators committed to building better communities.
                    </p>
                    <a class="booked" target="_blank" href="https://kernel.community">Learn</a>
                  </div>
                  <div class="book">
                    <h3>Pr1s0nArt</h3>
                    <img src="/assets/images/crow.jpg" class="book-img" />
                    <p>
                      Collectively restoring justice and the dignity of returning citizens.
                    </p>
                    <a class="booked" target="_blank" href="https://pr1s0n.art">Forgive</a>
                  </div>
                  <div class="book">
                    <h3>Dap.ps</h3>
                    <img src="/assets/images/dapps.jpg" class="book-img" />
                    <p>
                      A transparent economic ranking algorithm. <a href="https://dap.ps" target="_blank" class="bold-link">In production on Ethereum</a>.
                    </p>
                    <a class="booked" target="_blank" href="https://our.status.im/discover-a-brave-new-curve/">Fairly</a>
                  </div>
                </div>
                
                <div class="home-div">
                    <h2>Head and Heart</h2>
                    <p>
                      <i>“The real basis of their poetry is a loftily inculcated ethical system, which recognises in purity of heart, charity, self-renunciation, and bridling of the passions, the necessary conditions of eternal happiness.” — Reynold Nicholson</i>
                    </p>
                </div>

                <div class="home-div">
                  <img src="/assets/images/andy.jpg" class="home-image" />
                </div>

                <div class="extra-container">
                    <p>
                      The notion that deepening awareness and expanding conscious skill leads to experiencing every moment in this world as perfect, as one spent witnessing the ever-present Face of God, has been around for a long time. The <a href="https://thebluebook.co.za/canto-i/xam.html" target="_blank" class="bold-link">//Xam</a>, and other tribes of the First People who wandered the Kalahari Desert and the Karoo, spoke of those harsh and beautiful landscapes as "The Great Face", which they were able to read for signs critical to their sustenance and survival. <a href="https://unifying.thebluebook.co.za/?stackedPages=%2Fvictory" target="_blank" class="bold-link">The Qur'an</a> is the quintessential distillment of this kind of sight.
                    </p>
                    <p>
                      However, everything has its own integrity; is itself an expression in some form of unconditional love. This site traces aspects of that original integrity across The Great Digital Face, following the old song lines as they play out the same, perennial rhythm between 0 and 1.
                    </p>
                </div>

            </div>
        </div>
          
        </div>
      {% block footer %}
        {% include "partials/footer.html" %}
      {% endblock %}
    </div>
    {% block scripts %}
      <script src="{{ 'assets/javascripts/vendor.241d0c29.min.js' | url }}"></script>
      <script src="{{ 'assets/javascripts/bundle.05dbdb2b.min.js' | url }}"></script>
      {%- set translations = {} -%}
      {%- for key in [
        "clipboard.copy",
        "clipboard.copied",
        "search.config.lang",
        "search.config.pipeline",
        "search.config.separator",
        "search.result.placeholder",
        "search.result.none",
        "search.result.one",
        "search.result.other"
      ] -%}
        {%- set _ = translations.update({ key: lang.t(key) }) -%}
      {%- endfor -%}
      <script id="__lang" type="application/json">
        {{- translations | tojson -}}
      </script>
      {% block config %}{% endblock %}
      <script>
        app = initialize({
          base: "{{ base_url }}",
          features: {{ config.theme.features | tojson }},
          search: Object.assign({
            worker: "{{ 'assets/javascripts/worker/search.7f7c8775.min.js' | url }}"
          }, typeof search !== "undefined" && search)
        })
      </script>
      {% for path in config["extra_javascript"] %}
        <script src="{{ path | url }}"></script>
      {% endfor %}
    {% endblock %}
  </body>
</html>