  html .md-footer-meta.md-typeset a {
    color: white!important
  }

  .center-quote {
    text-align: center;
  }

  .center-img {
    display: block;
    margin: 0 auto;
    width: 70%;
  }

  .small-text {
    font-size: 12px;
  }

  .book-image {
    width: 90%;
    margin: 0 auto;
  }

  .cover-image {
    width: 50%;
    margin: 0 auto;
  }

  .book-link p, .link p {
    background:#000;
    border: 1px solid #000;
    border-radius: 8px;
    margin: 0 auto;
    padding: 5px;
  }

  .book-link p {
    width: 70%;
  }

  .link p {
    width:30%;
    text-align: center;
  }

  .book-link p:hover, .link p:hover {
    background: rgba(0,0,0,0.2);
  }

  .book-link a, .link a {
    color: #fff !important;
    font-weight: bold;
  }

  .book-link a:hover, .link a:hover {
    color: #000 !important;
  }

  .article-image {
    width: 25%;
    margin-right: 20px;
    float: left;
  }

  .article-para {
    margin-top: 4%;
  }

  .cat-img img {
    height: 180px;
    margin: 0 0 0 30px;
  }

  .comm-lang {
    width: 100%;
    height: 500px;
  }

  .clear {
    clear: both;
  }

  .video-frame {
    display: block;
    width: 90%;
    height: 400px;
    margin: 0 auto;
  }

@media (max-width: 761px) {

  .md-typeset h1 {
    font-size: 1.25rem
  }

  .md-typeset h2 {
    font-size: 1rem;
  }

  .cat-img img {
    height: auto;
    margin: 0;
  }

  .article-image {
    width: 90%;
    margin: 0 auto;
    float: none;
  }

  .link p {
    width: 70%;
  }

  .comm-lang {
    height: 300px;
  }

  .video-frame {
    height: 250px;
  }
}